<a href="https://colab.research.google.com/github/restrepo/articles_COVID-19/blob/master/lens_covid-19_with_citations_Pajek.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Articles with `COVID-19`  in `title` of Lens.org

See [lens_covid.ipynb](./lens_covid.ipynb) [[GitHub]](https://github.com/restrepo/articles_COVID-19/blob/master/lens_covid.ipynb) [[Colab]](https://colab.research.google.com/github/restrepo/articles_COVID-19/blob/master/lens_covid.ipynb) to get the databases from lens.org API

In [0]:
import pandas as pd

### Articles

Load articles with title covid-19

In [3]:
base='https://github.com/restrepo/articles_COVID-19/raw/master/data/'
file='covid_19.json.gz'
cv=pd.read_json('{}{}'.format(base,file),compression='gzip')
cv.shape

(6493, 32)

In [12]:
[['lens_id','scholarly_citations']]

                  lens_id                                scholarly_citations
0     000-010-369-238-182  [000-001-772-599-784, 000-806-857-947-870, 001...
1     000-026-995-805-267  [000-116-303-439-999, 000-476-993-788-043, 000...
2     000-037-106-895-586  [000-790-319-847-633, 001-237-651-609-621, 004...
4     000-102-992-920-771         [013-540-154-555-148, 021-208-857-863-45X]
5     000-162-542-213-353  [000-550-807-522-560, 001-732-040-244-190, 006...
...                   ...                                                ...
6165  116-760-801-273-42X         [165-124-194-843-143, 192-133-947-684-196]
6222  130-448-709-050-646         [112-470-150-380-035, 158-992-314-027-375]
6276  145-449-722-363-398                              [050-163-234-742-411]
6306  152-188-537-897-065                              [031-883-225-563-477]
6415  178-988-145-870-698                              [031-883-225-563-477]

[1566 rows x 2 columns]

In [15]:
['hola mundo']*3

['hola mundo', 'hola mundo', 'hola mundo']

In [0]:
qq=[]
def to_pajek(row,newlist=qq):
    c=len(row.get('scholarly_citations'))
    for i in range(c):
        qq.append({ 'lens_id': row.get('lens_id'),'scholarly_citations': row.get('scholarly_citations')[i] })
    return 'qq is being build'
    #[ 'lens_id'            : [row.get('lens_id')]*c,
    #         'scholarly_citations':row.get('scholarly_citations') }

In [54]:
cv.dropna(subset=['scholarly_citations']).apply( 
    to_pajek ,axis='columns')

0       qq is being build
1       qq is being build
2       qq is being build
4       qq is being build
5       qq is being build
              ...
6165    qq is being build
6222    qq is being build
6276    qq is being build
6306    qq is being build
6415    qq is being build
Length: 1566, dtype: object

In [55]:
pd.DataFrame(qq)

                   lens_id  scholarly_citations
0      000-010-369-238-182  000-001-772-599-784
1      000-010-369-238-182  000-806-857-947-870
2      000-010-369-238-182  001-945-026-134-859
3      000-010-369-238-182  002-219-418-776-885
4      000-010-369-238-182  004-083-118-432-223
...                    ...                  ...
51230  130-448-709-050-646  112-470-150-380-035
51231  130-448-709-050-646  158-992-314-027-375
51232  145-449-722-363-398  050-163-234-742-411
51233  152-188-537-897-065  031-883-225-563-477
51234  178-988-145-870-698  031-883-225-563-477

[51235 rows x 2 columns]

In [0]:
cv[['lens_id','scholarly_citations']]

                  lens_id                                scholarly_citations
0     000-010-369-238-182  [000-001-772-599-784, 000-806-857-947-870, 001...
1     000-026-995-805-267  [000-116-303-439-999, 000-476-993-788-043, 000...
2     000-037-106-895-586  [000-790-319-847-633, 001-237-651-609-621, 004...
3     000-083-935-544-000                                               None
4     000-102-992-920-771         [013-540-154-555-148, 021-208-857-863-45X]
...                   ...                                                ...
6488  199-398-967-533-238                                               None
6489  199-619-345-931-780                                               None
6490  199-778-032-819-366                                               None
6491  199-848-066-348-305                                               None
6492  199-898-752-576-960                                               None

[6493 rows x 2 columns]

In [0]:
cv['scholarly_citations_count'].sum()

51235.0

Citations list of `lens_id` for sample for article 1

In [0]:
cv.loc[4,'scholarly_citations']

['013-540-154-555-148', '021-208-857-863-45X']

### Citations

Load citations to articles. Get the metadata for each one of the `lens_id` citations

In [0]:
base='https://github.com/restrepo/articles_COVID-19/raw/master/data/'
file='covid_19_scholarly_citations_part_1.json.gz'
cvc=pd.read_json('{}{}'.format(base,file),compression='gzip')
file='covid_19_scholarly_citations_part_2.json.gz'
cvc=cvc.append( pd.read_json('{}{}'.format(base,file),compression='gzip') 
        ).reset_index(drop=True)
cvc.shape

(19652, 32)

## Articles with references column

In [0]:
base='https://github.com/restrepo/articles_COVID-19/raw/master/data/'
file='lens_covid-19_web.json'
cv_with_references=pd.read_json('{}{}'.format(base,file))
cv_with_references.shape

(6446, 22)

In [0]:
cv.columns

Index(['lens_id', 'created', 'open_access', 'publication_type', 'authors',
       'title', 'volume', 'issue', 'languages', 'references',
       'fields_of_study', 'funding', 'source_urls', 'abstract',
       'year_published', 'references_count', 'scholarly_citations_count',
       'external_ids', 'start_page', 'end_page', 'source',
       'scholarly_citations', 'author_count', 'date_published',
       'publication_supplementary_type', 'mesh_terms', 'patent_citations',
       'patent_citations_count', 'chemicals', 'keywords', 'conference',
       'clinical_trials'],
      dtype='object')